<FlexboxLayout class="page">

	<StackLayout class="form text-center">
		<Image src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Red_circle_%28thin%29.svg/2000px-Red_circle_%28thin%29.svg.png"
			width="150" height="150"  class="m-5 m-b-10"></Image>
	</StackLayout>

	<StackLayout class="form" *ngIf="!isLoggedIn">

		<StackLayout class="input-field">
			<TextField class="input" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email" returnKeyType="next" (returnPress)="focusPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField #password class="input" hint="Password" secure="true" [(ngModel)]="user.password" [returnKeyType]="isLoggingIn ? 'done' : 'next'" (returnPress)="focusConfirmPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout *ngIf="!isLoggingIn" class="input-field">
			<TextField #confirmPassword class="input" hint="Confirm password" secure="true" [(ngModel)]="user.confirmPassword" returnKeyType="done"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<Button [text]="isLoggingIn ? 'Log In' : 'Sign Up'" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
		<Button *ngIf="isLoggingIn" text="Forgot your password?" class="btn btn-outline  btn-rounded-sm" (tap)="forgotPassword()"></Button>
		<Button class="btn btn-outline  btn-rounded-sm" (tap)="toggleForm()">
			<FormattedString>
				<Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
				<Span [text]="isLoggingIn ? 'Sign up' : ''" class="bold"></Span>
			</FormattedString>
		</Button>
	</StackLayout>

	<StackLayout class="form text-center" *ngIf="isLoggedIn">
		<Label class="m-5" text="Ciao {{currentUser.email}}"></Label>
		<Label class="m-5" text="Sei già autenticato"></Label>
		<Button text="Torna alla lista albi" class="btn btn-primary" (tap)="gotoAlbi()"></Button>
	</StackLayout>


</FlexboxLayout>
