<Page>

  <StackLayout orientation="vertical">

    <SearchBar hint="Cerca albo" top="0" (textChange)="onTextChange($event)" (submit)="onReturn($event)" keyboardType="number" (clear)="onClear($event)"
               color="white" textFieldBackgroundColor="lightgray" textFieldHintColor="white" (loaded)="loadedSB($event)"></SearchBar>

    <ListView [items]="albi" (loadMoreItems)="onLoadMoreItems()" class="list-group">
      <ng-template let-albo="item" let-i="index" let-odd="odd" let-even="even">
          <GridLayout class="list-group-item" backgroundColor="{{albo.stato == '2' ? '#28a745' : albo.stato == '1' ? '#ffc107' : ''}}">
              <Label [text]="albo.numero + ' - ' + albo.title + ' | '" (tap)="goToAlbo(albo.numero)"></Label>
          </GridLayout>
      </ng-template>
    </ListView>

  </StackLayout>
</Page>